body{
    background-color: coral;
    color: yellow;
}
/* Navigation*/
.logo{
    width: 80px;
    margin: 5%;
}
header{
    background-color: black;
    display: grid;
    grid-template-columns: 150px auto;
}
nav{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}
nav a{
    color: white;
    margin: auto;
    text-decoration: none;
}
/*main*/
.title{
    text-align: center;
    font-size: 4em;
}

/*home intro*/
p{
    color: white;
}
h2{
    text-align: center;
    color: greenyellow;    
}
.home-intro{
    background-color: peru;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.home-intro p{
    grid-column: 2/3;
}
.home-intro img{
    grid-column: 1/2;
}

/* Footer*/
footer{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    text-align: center;
}
footer h3{
    color: white;
    margin: auto;
}
footer a{
    color: white;
    text-decoration: none
}
.copy{
    grid-column: 1/2;
}
.siteplan{
    grid-column: 2/3;
}
.social{
    grid-column: 3/4;
    grid-row: 1/2;
    margin: 5%;
}